/* styles.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.videoBlock {
  width: 100%;
  height: 100%;
  display: flex;
 background: #fafafa;
}

.left {
  flex-basis: 60%;
}

.right {
  flex-basis: 40%;
}

.leftVideo {
  width: 500px;
  margin: 60px;
}

.videoItemm {
  width: 800px;
  margin: 100px;
}

.rightimg {
  width: 250px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

/* global.css */

/* VideoItem Component */

.author,
.uploadTime,
.views,
.description,
.subscriber {
  color: #7e3f3f;
  margin: 5px 0;
  font-style: normal;
  
}


.author{
  color: #1b0cc7;
  font-weight: bold;
}
.uploadTime{
  color: #0d20f3;
  font-weight: lighter;
}

/* Player Component */

h1 {
  color: #d91111;
}

.leftVideo {
  width: 75%;
  height: auto;
}

button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0d20f3;
}

/* VideoContainer Component */

.videoBlock {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  width: 48%;
}

/* styles.css */
/* styles.css */

/* Navbar */
.navbar {
  
  background-color: #132743; /* Dark background color */
  color: #fff; /* Text color */
  padding: 10px 0; /* Vertical padding */
  position: fixed; /* Stick to the top of the window */
  top: 0; /* Position at the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  margin: 0;

}

.navbar ul {
  list-style-type: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 10px; /* Spacing between list items */
}

.navbar ul li a {
  color: #fff; /* Text color for links */
  text-decoration: none; /* Remove underline from links */
  padding: 5px 10px; /* Padding around links */
}

.navbar ul li a:hover {
  background-color: #c62121; /* Darker background color on hover */
}

.navbar ul li a:visited {
  color: #c2bacb; /* Color of visited links */
}

/* Add more styles as needed */
